<div id="category">
    <ul>
        {# http://localhost/DT/shopping/ #}

        <li><a href="{{constant('shopping\\Bootstrap::ENTRY_URL')}}list.php">全て</a></li>
        {% for value in cateArr %}
        {# 検証モードでURLを メモ帳で確認して、transition 先とgetの情報を表示 #}
            <li><a href="{{constant('shopping\\Bootstrap::ENTRY_URL')}}list.php?ctg_id={{value.ctg_id}}">{{value.category_name}}</a></li>
        {% endfor %}
    </ul>
</div>